extends base.jade

block append head
    script(type="text/javascript", src="/scripts/jquery.js")
    script(type="text/javascript", src="/scripts/image-preview.js")
    link(rel="stylesheet", href="/styles/pass.css", type="text/css")
    block title
        title Crumbling Island Arena | Pass

block content
    mixin item-block(entry)
        - var type
        - var bg = entry.hero
        - if (entry.taunt) { type = "taunt"; bg = "taunt" }
        - if (entry.emote) { type = "emote"; bg = "emote" }
        - if (entry.item) { type = "item"; bg = entry.hero }

        .item-block(class="block-#{type}", class=type == "item" ? "image-preview" : "", data-img= type == "item" ? "/images/cosmetics/#{entry.hero}.png" : "")
            if entry.level
                .level #{entry.level}
            img.hero(src="http://cdn.dota2.com/apps/dota2/images/heroes/#{entry.hero}_icon.png")
            .type #{type}

    div
        h2.content-head.is-center Buy a pass to unlock

    #benefits
        div 9 base items
        div Profile level progression
        div Daily quests
        div Pass leaderboards
        div Gold text color in chat
        span Items are available only in Crumbling Island Arena
        span Items do not expire

    a#purchase-button(href="http://www.dota2.com/store/itemdetails/17172") Buy in dota store

    div
        h2.content-head.is-center Top pass players

    #top-players
        for player in model
            - var level = math.floor(player.experience / 1000).intValue() + 1

            a.top-player(href="http://steamcommunity.com/profiles/#{player.steamId64}")
                .level #{level}
                img.avatar(src=player.avatarUrl)
                .name #{player.name}

    div
        h2.content-head.is-center Base rewards

    #base-items
        each entry in base
            +item-block(entry)

    div
        h2.content-head.is-center Level rewards

    #level-items
        each entry in perLevel
            +item-block(entry)