extends base.jade

block append head
    script(type="text/javascript", src="/scripts/jquery.js")
    script(type="text/javascript", src="/scripts/image-preview.js")

block content
    style.
        #preview {
            position: absolute;
            display: none;
        }

        #benefits {
            margin-bottom: 20px !important;
        }

        #benefits div {
            height: 40px;
            margin: 1px;
            background-color: rgba(18, 135, 168, 0.8);
            letter-spacing: 2px;
            font-size: 24px;
            color: white;
            line-height: 40px;
            padding-left: 50px;
            text-transform: uppercase;
        }

        #benefits span {
            align-self: center;
            margin-top: 12px;
        }

        .top-player {
            display: flex;
            flex-direction: row;
            height: 40px;
            margin: 1px;
            background: rgba(60, 100, 120, 0.78) url('/images/cosmetics/trophy.png') no-repeat center;
            background-position-x: 100%;
            background-size: 96px 96px;
        }

        .top-player .name {
            letter-spacing: 2px;
            font-size: 24px;
            color: rgba(255, 255, 255, 0.9);
            line-height: 35px;
        }

        .top-player .avatar {
            width: 40px;
            height: 40px;
            border: 0;
            margin: 0 50px 0 50px;
        }

        #purchase-button {
            display: block;
            background: linear-gradient(to bottom, #60872c 0%, #395a1a 100%);
            width: 250px;
            height: 40px;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 2px;
            font-size: 16px;
            text-align: center;
            color: #c1e799;
            line-height: 38px;
            user-select: none;
            cursor: pointer;
            font-family: "Raleway", "Open Sans", sans-serif;
            margin: auto auto 80px;
        }

        #purchase-button:hover {
            background: linear-gradient(to bottom, #6d9a32 0%, #477020 100%);
            color: #eee;
        }

        #purchase-button:active {
            background: linear-gradient(to bottom, #4c6b23 0%, #2d4715 100%);
            color: #899e72;
            box-shadow: inset 1px 0px 2px #000000;
        }

        #level-items, #base-items, #top-players, #benefits {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 900px;
            margin: auto auto 60px;
        }

        .item-block {
            height: 40px;
            margin: 1px;
            display: flex;
            flex-direction: row;
            background: no-repeat center;
            background-position-x: 100%;
            background-size: 96px 96px
        }

        .block-item {
            background-color: rgba(205, 89, 74, 0.9);
            background-image: url('/images/cosmetics/chest.png');
        }

        .block-taunt {
            background-color: #b5c689;
            background-image: url('/images/cosmetics/taunt.png');
        }

        .block-emote {
            background-color: #43abc9;
            background-image: url('/images/cosmetics/emote.png');
        }

        .item-block .level, .top-player .level {
            width: 30px;
            color: rgba(255, 255, 255, 0.9);
            line-height: 26px;
            text-align: center;
            font-size: 34px;
            margin: 6px;
            margin-left: 50px;
        }

        .item-block .hero {
            border: 0;
            width: 32px;
            height: 32px;
            margin: 6px 50px 6px 50px;
        }

        .item-block .type {
            text-transform: uppercase;
            letter-spacing: 4px;
            font-family: "Raleway", "Open Sans", sans-serif;
            font-size: 30px;
            color: rgba(255, 255, 255, 0.9);
            line-height: 40px;
        }

    mixin item-block(entry)
        - var type
        - var bg = entry.hero
        - if (entry.taunt) { type = "taunt"; bg = "taunt" }
        - if (entry.emote) { type = "emote"; bg = "emote" }
        - if (entry.item) { type = "item"; bg = entry.hero }

        .item-block(class="block-#{type}", class=type == "item" ? "image-preview" : "", data-img= type == "item" ? "/images/cosmetics/#{entry.hero}.png" : "")
            if entry.level
                .level #{entry.level}
            img.hero(src="http://cdn.dota2.com/apps/dota2/images/heroes/#{entry.hero}_icon.png")
            .type #{type}

    div
        h2.content-head.is-center Buy a pass to unlock

    #benefits
        div 9 base items
        div Profile level progression
        div Daily quests
        div Pass leaderboards
        div Gold text color in chat
        span Items are available only in Crumbling Island Arena
        span Items do not expire

    a#purchase-button(href="http://www.dota2.com/store/itemdetails/17172") Buy in dota store

    div
        h2.content-head.is-center Top pass players

    #top-players
        for player in model
            - var level = math.floor(player.experience / 1000).intValue() + 1

            a.top-player(href="http://steamcommunity.com/profiles/#{player.steamId64}")
                .level #{level}
                img.avatar(src=player.avatarUrl)
                .name #{player.name}

    div
        h2.content-head.is-center Base rewards

    #base-items
        each entry in base
            +item-block(entry)

    div
        h2.content-head.is-center Level rewards

    #level-items
        each entry in perLevel
            +item-block(entry)