extends ../../base.jade

block content
    div.ez-box
        h2.content-head.is-center Top ranked players this season
    div.ez-wr
        for player in model
            div.ez-box.rank-row
                div.ez-fl.ez-negmr.ez-75.ranked-name-container
                    if player.avatarUrl
                        img.ranked-avatar(src="#{player.avatarUrl}")
                        
                    a.ranked-name.pure-u(href="http://steamcommunity.com/profiles/#{player.steamId64}")
                        if player.name
                            | #{player.name}
                        else
                            | #{player.steamId64}
                div.ez-last.ez-oh
                    - var rankImage = 101 - player.rank
                    div.rank-image-container(class=player.elo ? "elite-rank-container" : "")
                        img.rank-image(src="/images/ranks/#{rankImage}.png")
                        if player.elo
                            span.rank-number.elite-number #{player.elo}
                        else
                            span.rank-number.normal-number #{player.rank}